.columnas-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
}
.columna-item{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.columna-texto h3{
    padding: 2rem 0;
}

.columna-texto p{
    padding-bottom: 1rem;
}
contact-button {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #0056b3;
  }